{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{{appName}}
{% endblock %}

{% block body %}
<!-- Blog Detail Section Start -->
<section class="blog_detail_section">
	<div class="container">
		<div class="blog_head">
			<div class="tags_info">
				<span class="tag">{{appName}}</span>
			</div>
			<h1>Mentions Légales
				{{appName}}</h1>
		</div>
		<div class="blog_body">
			<h2>Article 1 - Éditeur de l'Application</h2>
			<p>
				<strong>1.1 Identité de l'Éditeur :</strong>
				L'application
				{{appName}}
				est éditée par une société de droit français, Société par actions simplifiée à associé unique, au capital de 3
				000 €, immatriculée au Registre du Commerce et des Sociétés d'Angers sous le numéro 849 990 668.
			</p>
			<p>
				<strong>1.2 Siège Social :</strong>
				Le siège social de la société éditrice est situé au 4 SQ DE CORFOU, 49300 CHOLET, France.
			</p>
			<p>
				<strong>1.3 N° de TVA Intracommunautaire :</strong>
				FR29849990668.
			</p>
			<p>
				<strong>1.4 Directeur de la Publication :</strong>
				MAZOUZ AHMED, Président de l'entreprise de AM TAXI Société par actions simplifiée à associé unique.
			</p>

			<h2>Article 2 - Hébergement de l'Application</h2>
			<p>
				<strong>2.1 Hébergeur :</strong>
				L'application est hébergée par OVH, une société réputée pour ses services d'hébergement en France et en Europe.
				OVH SAS, au capital de 10 069 020 €, est immatriculée au Registre du Commerce et des Sociétés de Lille Métropole
				sous le numéro 424 761 419 00045.
			</p>
			<p>
				<strong>2.2 Adresse de l'Hébergeur :</strong>
				2 rue Kellermann, 59100 Roubaix, France.
			</p>
			<p>
				<strong>2.3 Contact de l'Hébergeur :</strong>
				Pour toute question relative à l'hébergement de l'application, vous pouvez contacter OVH au +33 9 72 10 10 07.
			</p>

			<h2>Article 3 - Propriété Intellectuelle</h2>
			<p>
				<strong>3.1 Contenus Protégés :</strong>
				Tous les éléments de l'application, y compris les textes, images, logos, icônes, sons, logiciels et bases de
				données, sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle et aux
				droits d'auteur. L'éditeur ou ses partenaires détiennent tous les droits de propriété intellectuelle sur ces
				contenus.
			</p>
			<p>
				<strong>3.2 Licence d'Utilisation :</strong>
				L'utilisateur dispose d'une licence limitée, non exclusive et non transférable pour utiliser l'application et
				ses contenus pour un usage personnel et non commercial. Toute autre utilisation, reproduction, modification ou
				distribution des contenus de l'application est strictement interdite sans l'autorisation préalable écrite de
				l'éditeur.
			</p>
			<p>
				<strong>3.3 Sanctions :</strong>
				Toute exploitation non autorisée de l'application ou de ses contenus constituera une contrefaçon et pourra faire
				l'objet de poursuites judiciaires conformément aux articles L.335-2 et suivants du Code de Propriété
				Intellectuelle.
			</p>
			<p>
				<strong>3.4 Marques et Logos :</strong>
				Les marques, logos et autres signes distinctifs présents sur l'application sont la propriété de l'éditeur ou de
				ses partenaires. Toute utilisation non autorisée de ces marques ou logos est interdite.
			</p>
			<p>
				<strong>3.5 Protection des Contenus :</strong>
				L'utilisateur s'interdit de procéder à une quelconque extraction ou utilisation systématique de tout ou partie
				des données présentes sur l'application. Toute exploitation non autorisée de l'application ou de son contenu
				pourra être sanctionnée conformément aux dispositions du Code de la propriété intellectuelle.
			</p>

			<h2>Article 4 - Protection des Données Personnelles</h2>
			<p>
				<strong>4.1 Collecte et Traitement des Données : Les informations concernant la collecte et le traitement des
					données personnelles sont détaillées dans la charte de données personnelles de l'application, disponible
					directement sur le site.
			</p>
			</p>
			<p>
				<strong>4.2 Droit d'Accès et de Rectification :</strong>Conformément à la loi "Informatique et Libertés" du 6
				janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD), les utilisateurs disposent
				d'un droit d'accès, de rectification, de suppression et d'opposition concernant leurs données personnelles. Pour
				exercer ces droits, les utilisateurs peuvent contacter le responsable de la protection des données à l'adresse
				suivante :
			</p>
			</strong>
			[
			<a href="mailto:{{appEmail}}">{{appEmail}}</a>
			].</p>
			<p>
				<strong>4.3 Mesures de Sécurité :</strong>
				L'éditeur s'engage à mettre en œuvre toutes les mesures techniques et organisationnelles appropriées pour
				protéger les données personnelles contre toute destruction accidentelle ou illicite, perte accidentelle,
				altération, diffusion ou accès non autorisé.
			</p>
			<p>
				<strong>4.4 Divulgation Légale :</strong>
				Les données personnelles des utilisateurs peuvent être divulguées en vertu d'une loi, d'un règlement ou d'une
				décision d'une autorité réglementaire ou judiciaire compétente.
			</p>

			<h2>Article 5 - Utilisation de l'Application</h2>
			<p>
				<strong>5.1 Accès et Utilisation :</strong>
				L'application est accessible à tout utilisateur disposant d'un accès à Internet. Tous les frais supportés par
				l'utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa
				charge.
			</p>
			<p>
				<strong>5.2 Fonctionnalités :</strong>
				L'application offre aux utilisateurs divers services, notamment la réservation de trajets, la gestion de leurs
				réservations, et la consultation des avis et notes des prestataires de services.
			</p>
			<p>
				<strong>5.3 Conditions d'Utilisation :</strong>
				L'utilisation de certaines fonctionnalités de l'application peut nécessiter la création d'un compte utilisateur.
				L'utilisateur s'engage à fournir des informations exactes et à jour lors de la création de son compte et à
				maintenir la confidentialité de ses identifiants de connexion.
			</p>
			<p>
				<strong>5.4 Obligations de l'Utilisateur :</strong>
				L'utilisateur s'engage à utiliser l'application de manière conforme aux présentes mentions légales et à
				respecter les lois en vigueur. Il est interdit de détourner l'application à des fins illégales ou frauduleuses.
			</p>

			<h2>Article 6 - Responsabilité</h2>
			<p>
				<strong>6.1 Limitations de Responsabilité :</strong>
				L'éditeur de l'application
				{{appName}}
				ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l'utilisateur lors de
				l'accès à l'application, résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications
				indiquées au point 5.3, soit de l'apparition d'un bug ou d'une incompatibilité.
			</p>
			<p>
				<strong>6.2 Responsabilité des Contenus :</strong>
				L'éditeur ne pourra également être tenu responsable des dommages indirects (tels qu'une perte de marché ou perte
				d'une chance) consécutifs à l'utilisation de l'application. Des espaces interactifs (possibilité de poser des
				questions dans l'espace contact) sont à la disposition des utilisateurs. L'éditeur se réserve le droit de
				supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la
				législation applicable en France, en particulier aux dispositions relatives à la protection des données.
			</p>
			<p>
				<strong>6.3 Sécurité des Transactions :</strong>
				L'éditeur ne pourra être tenu responsable des éventuelles erreurs, interruptions, retards ou indisponibilités
				des services de paiement. Les transactions effectuées via l'application sont sécurisées par des protocoles de
				sécurité conformes aux normes en vigueur.
			</p>
			<p>
				<strong>6.4 Liens Hypertextes :</strong>
				L'application peut contenir des liens hypertextes vers d'autres sites. Toutefois, l'éditeur n'a pas la
				possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité
				de ce fait.
			</p>

			<h2>Article 7 - Droit Applicable et Attribution de Juridiction</h2>
			<p>
				<strong>7.1 Législation Applicable :</strong>
				Tout litige en relation avec l'utilisation de l'application
				{{appName}}
				est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de
				Paris.
			</p>
			<p>
				<strong>7.2 Médiation :</strong>
				Conformément à l'article L.612-1 du Code de la consommation, l'utilisateur a la possibilité de recourir
				gratuitement à un médiateur de la consommation en vue de la résolution amiable de tout litige l'opposant à
				l'éditeur.
			</p>

			<h2>Article 8 - Modification des Mentions Légales</h2>
			<p>
				<strong>8.1 Évolution des Mentions Légales :</strong>
				L'éditeur se réserve le droit de modifier et d'actualiser les présentes mentions légales à tout moment et sans
				préavis. L'utilisateur est donc invité à les consulter régulièrement pour prendre connaissance des éventuelles
				modifications.
			</p>
			<p>
				<strong>8.2 Entrée en Vigueur des Modifications :</strong>
				En cas de modification des présentes mentions légales, les nouvelles conditions entreront en vigueur à la date
				de leur mise en ligne sur l'application. En continuant à utiliser l'application, l'utilisateur est réputé avoir
				accepté ces modifications.
			</p>

			<h2>Article 9 - Contact</h2>
			<p>
				<strong>9.1 Coordonnées de Contact :</strong>
				Pour toute question ou demande d'information concernant les mentions légales de l'application, vous pouvez
				contacter l'éditeur à l'adresse suivante :
			</p>
			<ul>
				<li class="">Adresse :25 BIS AV DE LA LIBERATION NUAILLE 49340 France</li>
				<li class="">Email :
					<a href="mailto:{{appEmail}}">{{appEmail}}</a>
				</li>
			</ul>

			<p>
				<strong>9.2 Retour Utilisateurs :</strong>
				L'éditeur encourage les utilisateurs à lui faire part de leurs commentaires sur les services proposés par
				l'application afin d'améliorer continuellement la qualité de ses services.
			</p>

			<h2>Article 10 - Acceptation des Mentions Légales</h2>
			<p>
				<strong>10.1 Accord des Utilisateurs :</strong>
				En accédant et en utilisant l'application
				{{appName}}, l'utilisateur accepte expressément et sans réserve les présentes mentions légales.
			</p>
			<p>
				<strong>10.2 Validité des Mentions Légales :</strong>
				Si une disposition des présentes mentions légales est jugée illégale, nulle ou inapplicable pour quelque raison
				que ce soit, cette disposition sera réputée dissociable et n'affectera pas la validité et l'applicabilité des
				autres dispositions.
			</p>
		</div>
	</div>
</section>
<!-- Blog Detail Section End -->
{% endblock %}