{% extends 'base.html.twig' %}

{% block title %} : Votre VTC de Confiance en France{% endblock %}

{% block body %}
	<!-- Blog Detail Section Start -->
	<section class="blog_detail_section">
		<div class="container">
			<div class="blog_head">
				<div class="tags_info">
					<span class="tag">{{appName}}</span>
				</div>
				<h1>{{appName}} : Votre VTC de Confiance en France</h1>
			</div>
			<div class="blog_body">
				<h2>Bienvenue chez {{appName}}</h2>
				<p>
					{{appName}} est votre nouvelle application de Véhicule de Transport avec Chauffeur (VTC), conçue pour offrir une expérience de transport flexible, sécurisée et économique. Que ce soit pour vos déplacements quotidiens, vos trajets professionnels ou vos sorties entre amis, {{appName}} est là pour vous offrir un service de qualité supérieure, à portée de main.
				</p>

				<h2>Pourquoi Choisir {{appName}} ?</h2>
				<p>
					<strong>1. Tarifs Transparents et Compétitifs</strong>
					<br>
					Avec {{appName}}, vous savez toujours ce que vous payez avant de réserver. Notre application vous permet de comparer les prix des trajets à l'avance, vous assurant ainsi de toujours obtenir le meilleur tarif possible sans mauvaises surprises.
					<br>

					<strong>- Estimation des Tarifs :</strong>
					Recevez une estimation précise du coût de votre trajet avant de confirmer votre réservation.
					<br>
					<strong>- Aucune Surprise :</strong>
					Les tarifs sont clairement affichés dès le départ, vous offrant une totale transparence.
					<br>
					<strong>2. Réservez Votre Chauffeur à l'Avance</strong>
					<br>
					Planifiez vos déplacements en toute simplicité avec la possibilité de réserver un chauffeur à l'avance. Que ce soit pour un trajet matinal, un déplacement professionnel ou une soirée spéciale, {{appName}} vous permet de sécuriser votre transport à l'avance.
					<br>

					<strong>- Planification Facile :</strong>
					Réservez votre trajet quelques minutes à l'avance directement depuis l'application.
					<br>
					<strong>- Disponibilité Garantie :</strong>
					Assurez-vous d'avoir un chauffeur à l'heure et à l'endroit de votre choix.
					<br>
					<strong>3. Chauffeurs de Confiance et Professionnels</strong>
					<br>
					Nous sélectionnons rigoureusement nos chauffeurs pour garantir votre sécurité et votre confort à chaque trajet.
					<br>

					<strong>- Vérification Stricte :</strong>
					Tous nos chauffeurs sont soumis à des contrôles de sécurité et de qualification.
					<br>
					<strong>- Professionnalisme :</strong>
					Nos chauffeurs sont formés pour offrir un service courtois et respectueux.
					<br>

					<strong>4. Sécurité Renforcée</strong>
					<br>
					Votre sécurité est notre priorité absolue. {{appName}} intègre des mesures de sécurité avancées pour garantir des trajets sereins.

					<strong>- Suivi en Temps Réel :</strong>
					Suivez votre chauffeur et votre trajet en temps réel via l'application.
					<strong>- Signaler un Problème :</strong>
					En cas de souci, signalez-le directement depuis l'application.
					<strong>- Envoyer des Photos :</strong>
					Capturez et envoyez des photos en direct pour documenter tout incident, renforçant ainsi la sécurité.
					<strong>- Support Client 24/7 :</strong>
					Une assistance dédiée est disponible à tout moment pour répondre à vos préoccupations.
					<br>

					<strong>5. Options de Paiement Flexibles</strong>
					Payez votre course de la manière qui vous convient le mieux.
					<br>

					<strong>- Paiement Sécurisé :</strong>
					Options de paiement via carte bancaire, PayPal, ou autres méthodes sécurisées.
					<strong>- Facturation Détaillée :</strong>
					Recevez une facture détaillée pour chaque trajet, facilitant la gestion de vos dépenses.
				</p>

				<h2>Comment Ça Marche ?</h2>
				<p>
					<strong>Étape 1 : Téléchargez l’Application</strong>
					<strong>- iOS :</strong>
					Disponible sur l’App Store.
					<br>
					<strong>- Android :</strong>
					Disponible sur Google Play Store.
					<br>

					<strong>Étape 2 : Créez Votre Compte</strong><br>
					- Inscrivez-vous en quelques minutes en fournissant vos informations personnelles.
					<br>

					<strong>Étape 3 : Réservez Votre Trajet</strong>
					<br>
					- Entrez votre destination et choisissez le type de véhicule qui vous convient.
					<br>
					- Comparez les tarifs et sélectionnez l’offre qui correspond le mieux à vos besoins.
					<br>
					- Suivez votre chauffeur en temps réel jusqu’à votre point de rendez-vous.
					<br>

					<strong>Étape 4 : Profitez de Votre Voyage</strong>
					- Voyagez en toute tranquillité avec nos chauffeurs professionnels et courtois.
					<br>
					- Notez votre trajet et partagez votre expérience pour aider la communauté {{appName}}.
				</p>
			</div>
		</div>
	</section>
	<!-- Blog Detail Section End -->

	<!-- Positive Reviews Section Start -->
	<section class="review_section row_am border-bottom-0">
		<div class="container">
			<div class="positive_inner border-0 pb-0">
				<div class="row">
					<div class="col-md-6 sticky-top">
						<div class="sidebar_text" data-aos="fade-up" data-aos-duration="1500">
							<div class="section_title text-left">
								<span class="title_badge">Témoignages</span>
								<h2>
									<span>Passagers Satisfaits</span>
								</h2>
							</div>
							<div class="google_rating">
								<div class="star">
									<span>
										<i class="icofont-star"></i>
									</span>
									<span>
										<i class="icofont-star"></i>
									</span>
									<span>
										<i class="icofont-star"></i>
									</span>
									<span>
										<i class="icofont-star"></i>
									</span>
									<span>
										<i class="icofont-star"></i>
									</span>
								</div>
								<p>4,5/5,0 Noté sur
									<img class="img-fluid" src="{{asset('themes/base/images/google.png')}}" alt="image"></p>
							</div>
							<div class="user_review">
								<p>1399
									<a href="#">Total des avis des utilisateurs
										<i class="icofont-arrow-right"></i>
									</a>
								</p>
							</div>
							<div class="smiley_icon"><img src="{{asset('themes/base/images/smily.png')}}" alt="image"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="review_side">
							<div class="review_block" data-aos="fade-up" data-aos-duration="1500">
								<div class="coustomer_info">
									<div class="avtar">
										<img src="{{asset('img/03.jpg')}}" alt="image">
										<div class="text">
											<h3>Sophie L.</h3>
											<span>Utilisatrice</span>
										</div>
									</div>
									<div class="star">
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
									</div>
								</div>
								<p>{{appName}} a transformé mes déplacements quotidiens. La possibilité de comparer les prix avant de réserver m'aide à économiser de l'argent, et les chauffeurs sont toujours ponctuels et professionnels. Je recommande vivement {{appName}} à tous mes amis !</p>
							</div>
							<div class="review_block" data-aos="fade-up" data-aos-duration="1500">
								<div class="coustomer_info">
									<div class="avtar">
										<img src="{{asset('img/04.jpg')}}" alt="image">
										<div class="text">
											<h3>Thomas R</h3>
											<span>Utilisateur
											</span>
										</div>
									</div>
									<div class="star">
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
									</div>
								</div>
								<p>J'apprécie vraiment la transparence des tarifs et le suivi en temps réel de mon trajet. Cela me donne une grande tranquillité d'esprit. {{appName}} est devenu mon service de transport préféré !</p>
							</div>
							<div class="review_block" data-aos="fade-up" data-aos-duration="2000">
								<div class="coustomer_info">
									<div class="avtar">
										<img src="{{asset('img/02.jpg')}}" alt="image">
										<div class="text">
											<h3>Marie D</h3>
											<span>Passagère</span>
										</div>
									</div>
									<div class="star">
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
										<span>
											<i class="icofont-star"></i>
										</span>
									</div>
								</div>
								<p>La réservation est rapide et facile, et le chauffeur m'a offert un service impeccable. De plus, avec les options de paiement flexibles, c'est vraiment pratique. {{appName}} est un must pour tous ceux qui cherchent un VTC fiable et abordable.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Positive Reviews Section End -->


	<!-- Blog Detail Section Start -->
	<section class="blog_detail_section">
		<div class="container">
			<div class="blog_body">
				<h2>Profitez de Notre Offre Spéciale de Lancement</h2>
				<p>
					Inscrivez-vous dès maintenant et bénéficiez de trajets gratuits pour découvrir tous les avantages de {{appName}} sans engagement. Ne manquez pas cette opportunité unique de transformer votre expérience de transport urbain.
				</p>

				<h2>Téléchargez {{appName}} Aujourd’hui !</h2>
				<p>
					<strong>Étape 1 : Téléchargez l’Application</strong>
					<br>
					- iOS :
					<a href="https://apps.apple.com">Télécharger sur l’App Store</a>
					<br>
					- Android :
					<a href="https://play.google.com">Télécharger sur Google Play Store</a>
					<br>

					<strong>Étape 2 : Créez Votre Compte</strong>
					<br>
					- Remplissez votre profil en quelques minutes
					<br>
					<strong>Étape 3 : Réservez et Voyagez</strong>
					<br>
					- Entrez votre destination.
					<br>
					- Comparez les tarifs et sélectionnez votre VTC.
					<br>
					- Suivez votre chauffeur et profitez de votre trajet.
					<br>
				</p>
				
				<h2>Contactez-Nous</h2>
				<p>
					Pour toute question ou pour en savoir plus sur {{appName}}, n’hésitez pas à nous contacter :
					<br>
					-
					<strong>Email</strong>
					:
					<a href="mailto:{{appEmail}}">{{appEmail}}</a>
					<br>
					-
					<strong>Téléphone</strong>
					:
					<a href="tel:{{phone}}">{{phone}}</a>
					<br>
					-
					<strong>Site Web</strong>
					:
					<a href="https://rideeasy.fr">https://rideeasy.fr</a>
				</p>
			</div>
		</div>
	</section>
	<!-- Blog Detail Section End -->
{% endblock %}
