{% extends 'base.html.twig' %}

{% block title %}Ce que nous faisons
{% endblock %}

{% block body %}
	<!-- Header Banner -->
	<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="4" data-background="{{asset('themes/base/images/slider/2.jpg')}}">
		<div class="container">
			<div class="row">
				<div class="col-md-12 caption mt-60">
					<div class="subtitle">Ce que nous faisons</div>
					<div class="title">Nos
						<span class="color-principal">services</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services -->
	<section class="process section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInLeft">
					<div class="img">
						<img src="{{asset('themes/base/images/slider/4.jpg') }}" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 valign animate-box" data-animate-effect="fadeInRight">
					<div class="wrap">
						<div class="number">
							<h1>01</h1>
						</div>
						<div class="cont">
							<h3>PHOTOGRAPHIE</h3>
							<p>NOTRE PHOTOGRAPHE EST MISSIONNÉ POUR METTRE EN VALEUR VOTRE LOGEMENT ET CAPTER L’ATTENTION DE VOS FUTURS LOCATAIRES À TRAVERS SON OEIL D’EXPERT.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 order2 valign animate-box" data-animate-effect="fadeInLeft">
					<div class="wrap">
						<div class="number">
							<h1>02</h1>
						</div>
						<div class="cont">
							<h3>REDACTION VISUEL</h3>
							<p>NOUS NOUS OCCUPONS DE LA RÉDACTION DU VISUEL ET DE LA DIFFUSION DE VOTRE ANNONCE SUR NOS DIFFÉRENTES PLATEFORMES PARTENAIRES.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 order1 animate-box" data-animate-effect="fadeInRight">
					<div class="img">
						<img src="{{asset('themes/base/images/slider/3.jpg') }}" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInLeft">
					<div class="img left">
						<img src="{{asset('themes/base/images/slider/2.jpg')}}" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 valign animate-box" data-animate-effect="fadeInRight">
					<div class="wrap">
						<div class="number">
							<h1>03</h1>
						</div>
						<div class="cont">
							<h3>MÉNAGE COMPLET</h3>
							<p>
								NOTRE ÉQUIPE D’AGENT
																								                                    D’ENTRETIEN RÉALISE UN
																								                                    MÉNAGE COMPLET ET
																								                                    RÉAPPROVISIONNE VOTRE
																								                                    LOGEMENT À CHAQUE FIN DE
																								                                    SÉJOUR
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 order2 valign animate-box" data-animate-effect="fadeInLeft">
					<div class="wrap">
						<div class="number">
							<h1>04</h1>
						</div>
						<div class="cont">
							<h3>ETAT DES LIEUX</h3>
							<p>
								NOUS EFFECTUONS
																								                                    LES CHECK-IN AINSI QUE LES
																								                                    CHECK-OUT ET UN ÉTAT DES
																								                                    LIEUX SYSTÉMATIQUE EST
																								                                    RÉALISÉ À CHAQUE FIN DE
																								                                    SÉJOURS.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 order1 animate-box" data-animate-effect="fadeInRight">
					<div class="img">
						<img src="{{asset('themes/base/images/slider/1.jpg') }}" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInLeft">
					<div class="img left">
						<img src="{{asset('themes/base/images/slider/2.jpg')}}" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 valign animate-box" data-animate-effect="fadeInRight">
					<div class="wrap">
						<div class="number">
							<h1>05</h1>
						</div>
						<div class="cont">
							<h3>TRAVAUX D'ENTRETIEN</h3>
							<p>
								NOTRE ÉQUIPE DE
																								                                    MAINTENANCE INTERVIENT
																								                                    AUSSI BIEN POUR LES PETITS
																								                                    TRAVAUX D’ENTRETIEN QUE
																								                                    POUR LES GRANDS TRAVAUX DE
																								                                    RÉNOVATION.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 order2 valign animate-box" data-animate-effect="fadeInLeft">
					<div class="wrap">
						<div class="number">
							<h1>06</h1>
						</div>
						<div class="cont">
							<h3>ASSITANCE VOYAGEUR</h3>
							<p>
								NOUS METTONS EN PLACE UNE
																								                                    ASSISTANCE VOYAGEURS 24/24
																								                                    7J/7J AFIN DE RÉPONDRE AU
																								                                    MIEUX À TOUTES LES DEMANDES
																								                                    ET AINSI GARANTIR UNE
																								                                    EXCELLENTE SATISFACTION
																								                                    CLIENT
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 order1 animate-box" data-animate-effect="fadeInRight">
					<div class="img">
						<img src="{{asset('themes/base/images/slider/1.jpg') }}" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 animate-box" data-animate-effect="fadeInLeft">
					<div class="img left">
						<img src="{{asset('themes/base/images/slider/2.jpg')}}" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 valign animate-box" data-animate-effect="fadeInRight">
					<div class="wrap">
						<div class="number">
							<h1>07</h1>
						</div>
						<div class="cont">
							<h3>NOUVEAUX SERVICES</h3>
							<p>
								NOTRE ÉQUIPE DÉVELOPPE
																								                                    REGULIÈREMENT DE NOUVEAUX
																								                                    SERVICES ET MET TOUT EN
																								                                    OEUVRE POUR RENDRE LE
																								                                    SÉJOUR DES VOYAGEURS LE
																								                                    PLUS AGRÉABLE POSSIBLE.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
